<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="dev.adi.testapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchBarActivity"
            android:label="SearchBarActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".GpsActivity"
            android:label="@string/title_activity_gps"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".DataBindingActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".PrefsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ContactsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SearchBar2Activity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ProteusActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".EditFileActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".HttpActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".TodoActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".QRActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AsonActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".BridgeActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".CCTabsActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".BatteryBluetoothActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".UsbTetherActivity"
            android:parentActivityName=".MainActivity"/>

        <receiver
            android:name=".widget.UsbTetherWidgetProvider"
            android:label="USB Tether">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info"/>
        </receiver>
        <receiver
            android:name=".receiver.BatteryLevelReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.BATTERY_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationPublisher"
            android:enabled="false"/>

        <service
            android:name=".service.BatteryUpdateService"
            android:enabled="false"/>

        <activity android:name=".NotiScheduleActivity"/>
        <activity android:name=".CalenderScheduleActivity"/>
        <activity android:name=".CaldroidActivity"/>
        <activity android:name=".ImageGalleryActivity"/>
        <activity android:name=".HtmlTextViewActivity"/>
        <activity android:name=".SensorListActivity"/>
        <activity android:name=".SensorCapabilityActivity"/>
        <activity android:name=".weather.WeatherReportActivity" android:parentActivityName=".MainActivity" android:theme="@style/AppTheme.NoActionBar2"/>
    </application>

</manifest>